.cabecalho__menu-hamburger{
    width: 40px;
    height: 40px;
    background-image: url("/imagens/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}
.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 1em;
}

.container{
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0.5em;
}

.lista-menu{
    display: none;
    position: absolute;
    top:100%;
    left: 0;
    width: 60vw;
}

.container__botao:checked~.lista-menu{
    display: block;
}

.lista-menu__titulo, .lista-menu__item{
    padding: 1em;
    background-color: var(--branco);
}
.lista-menu__titulo{
    font-family: var(--fonte-principal);
    font-weight: 700;
    color: var(--laranja);
}

.lista-menu__link{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: capitalize;
}

.container__botao{
    display: none;
}

.container__imagem{
    padding: 0.5em;
}

.container__titulo,.opcoes{
    display: none;
}

.container__txt-1728{
    display: none;
}

@media screen and (min-width: 1024px) {
    .container__titulo , .container__titulo--negrito{
        align-items: center;
        font-size: 30px;
    }
    .container__titulo{
        font-weight: 400;
        color: var(--preto);
        display: block;
    }
    .container__titulo--negrito{
        font-weight: 700;
    }
    .cabecalho__menu-hamburger{
        display: none;
    }
    .container__imagem{
        padding-left: 1.5em;
    }
    .opcoes{
        display: flex;
    }
    .opcoes__item,.opcoes__link{
        font-family: var(--fonte-principal);
        font-weight: 400;
        text-decoration: none;
        color: var(--preto);
        text-transform: uppercase;
        padding: 0 0.5em;
    }
    .container__imagem--transparente{
        display: none;
    }
    .container__imagem{
        padding-right: 2em;
    }
    .opcoes__botao{
        display: none;
    }
    .opcoes__botao:checked~.lista-menu{
        display: block;
        width: auto;
        left: auto;
    }
    .container__txt-1728{
        display: none;
    }
    .opcoes__1728{
        display: flex;
    }

}

@media screen and (min-width:1728px) {
    .container__txt-1728{
        display: block;
    }
    .container__imagem{
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 20px;
        font-weight: 400;
        color: var(--preto);
    }
    .container__titulo{
        font-family: var(--fonte-secundaria);
    }
    .container__imagem--transparente{
        display: none;
    }
    .cabecalho__menu-hamburger{
        display: none;
    }
    .opcoes__1728{
        display: flex;
        padding-right:30em ;
    }

}
